.weather {
    border: 1px solid #dadde1;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
    border-radius: 4px;
    background-image: url("./forest.jpg");
    background-size: 100%;

}

.weatherClass {
    padding: 35px;
    padding-bottom: 50px;
}

.weather form {
    margin-bottom: 20px;
}

.weather h1 {
    display: block;
    font-size: 30px;
    line-height: 30px;
}

.weather ul {
    margin: 0;
    padding: 0;
}

.weather li {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    list-style: none;
}

.weather canvas {
    margin-top: 5px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}

.weather .city {
    text-align: right;
}

.forecastClass {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 100%;
    margin-bottom: 0;
    margin-top: -20px;
}

@media (max-width: 450px) {

    .searchButton {
        font-size: 10px;
    }

    .searchField {
        font-size: 10px;
    }
}

@media (max-width: 380px) {

    .searchButton {
        font-size: 7px;
    }

    .searchField {
        font-size: 7px;
    }
}
